# Ignore arquivos do Visual Studio
.vs/
*.user
*.suo
*.psess
*.vspx
*.vspf
*.vspc
*.cache
*.csproj.user
*.csproj.vspscc
*.sln.docstates

# Build do .NET
bin/
obj/
*.pdb
*.exe
*.dll
*.appx
*.appxbundle
*.msix
*.msixbundle
*.nupkg
*.snupkg
*.log

# Configurações locais e pacotes
*.local.json
*.userprefs
packages/
.nuget/
.project.lock.json

# Logs e depuração
*.log
*.tlog
*.lastbuildstate
*.ilk
*.map
*.obj
*.pch
*.pdb
*.ipch

# Arquivos do Angular, TypeScript e JavaScript
node_modules/
dist/
out/
yarn.lock
package-lock.json

# Arquivos de cache do Angular e TypeScript
.angular/
.npm/
*.tsbuildinfo

# Configuração do ambiente
.env
.env.local
.env.*.local

# Arquivos do editor
.idea/
*.swp
*.swo
*.bak
*.tmp

# Arquivos do sistema
.DS_Store
Thumbs.db
/Zapchat.Api/obj
/Zapchat.Service/obj/
/Zapchat.Domain/obj/
/Zapchat.Repository/obj/
